/*--These first 4 containers are to provide different color backgrounds for each of the different language pages.---*/

/*-- I will send these 4 colors to Cira Foster as my palette--*/
#English-container {
    background-color:#f3b965;
}

#Spanish-container {
    background-color:#da6b46;
}

#Russian-container {
    background-color:#83F58E;
}

#Mandarin-container{
    background-color:#659ff3;
}
 
#wrapper {
     width:56%;
     margin:0 auto;
 }
 
 /*-- "Slavery" will be aligned to the left by default --*/
h1{    
font-family: 'Hind', sans-serif;
}

/*-- want the powerful comments moved to the center of the pictures --*/
h2{
    padding-left:10px;padding-bottom: 15px;
    text-align:center;
}

p{padding-left:25px;
}

nav ul{
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
}

/*-- the email or phone number forms are very important. Need to give them some space. --*/
footer {padding-top:20px;
        padding-bottom:60px;
        text-align:center;
}